# Ignore node_modules
**/node_modules

# Ignore build artifacts
**/dist
**/build

# Ignore .env files
.env
**/.env

# Ignore logs
*.log
logs
**/*.log

# Ignore git
.git
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db
